In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_aqi = pd.read_csv("aqi.csv")

In [3]:
df_aqi

,date,state,area,number_of_monitoring_stations,prominent_pollutants,aqi_value,air_quality_status,unit,note
0,30-04-2025,Maharashtra,Amravati,2,PM10,78,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
1,30-04-2025,Bihar,Purnia,1,CO,56,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
2,30-04-2025,Madhya Pradesh,Katni,1,O3,98,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
3,30-04-2025,Chhattisgarh,Tumidih,1,PM10,103,Moderate,number_of_monitoring_stations in Absolute Numb...,NaN
4,30-04-2025,Assam,Byrnihat,1,PM2.5,61,Satisfactory,number_of_monitoring_stations in Absolute Numb...,NaN
...,...,...,...,...,...,...,...,...,...
235780,01-04-2022,Bihar,Arrah,1,PM10,210,Poor,number_of_monitoring_stations in Absolute Numb...,NaN
235781,01-04-2022,Rajasthan,Jaipur,3,"PM2.5,PM10",158,Moderate,number_of_monitoring_stations in Absolute Numb...,NaN
235782,01-04-2022,Maharashtra,Chandrapur,2,PM2.5,201,Poor,number_of_monitoring_stations in Absolute Numb...,NaN
235783,01-04-2022,Uttar Pradesh,Varanasi,4,PM10,128,Moderate,number_of_monitoring_stations in Absolute Numb...,NaN
235784,01-04-2022,Odisha,Brajrajnagar,1,O3,270,Poor,number_of_monitoring_stations in Absolute Numb...,NaN

In [4]:
df_aqi['date'] = pd.to_datetime(df_aqi['date'], format='%d-%m-%Y', errors='coerce')

In [5]:
df_aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235785 entries, 0 to 235784
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date                           235785 non-null  datetime64[ns]
 1   state                          235785 non-null  object
 2   area                           235785 non-null  object
 3   number_of_monitoring_stations  235785 non-null  int64
 4   prominent_pollutants           235785 non-null  object
 5   aqi_value                      235785 non-null  int64
 6   air_quality_status             235785 non-null  object
 7   unit                           235785 non-null  object
 8   note                           0 non-null       float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 16.2+ MB

In [6]:
df_aqi.isnull().sum()

date                                  0
state                                 0
area                                  0
number_of_monitoring_stations         0
prominent_pollutants                  0
aqi_value                             0
air_quality_status                    0
unit                                  0
note                             235785
dtype: int64

In [7]:
df_aqi.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
date,235785,NaN,NaN,NaN,2023-11-30 15:01:36.509956096,2022-04-01 00:00:00,2023-03-23 00:00:00,2023-12-20 00:00:00,2024-08-26 00:00:00,2025-04-30 00:00:00,NaN
state,235785,32,Rajasthan,26585,NaN,NaN,NaN,NaN,NaN,NaN,NaN
area,235785,291,Aurangabad,1897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_monitoring_stations,235785.0,NaN,NaN,NaN,1.870653,1.0,1.0,1.0,1.0,40.0,3.071575
prominent_pollutants,235785,49,PM10,111053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aqi_value,235785.0,NaN,NaN,NaN,111.127294,3.0,59.0,92.0,142.0,500.0,71.447353
air_quality_status,235785,6,Satisfactory,88897,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unit,235785,1,number_of_monitoring_stations in Absolute Numb...,235785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
note,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_aqi.drop(columns=['note','unit'],inplace=True)

In [9]:
df_aqi['prominent_pollutants'].value_counts()

prominent_pollutants
PM10                 111053
PM2.5                 59670
O3                    16202
PM2.5,PM10            13199
CO                    12867
PM10,O3                3914
SO2                    3815
NO2                    3012
PM10,CO                2658
PM2.5,O3               2088
PM10,NO2               1278
O3,PM2.5,PM10          1019
PM2.5,PM10,CO           710
PM10,SO2                551
CO,O3                   543
PM10,O3,CO              418
PM2.5,NO2               415
PM10,PM2.5,NO2          281
PM2.5,SO2               278
CO,NO2                  274
PM10,NO2,O3             216
NO2,PM10,CO             191
CO,SO2                  167
NO2,O3                  139
PM10,PM2.5,SO2          111
SO2,O3                  109
PM2.5,CO,O3              99
PM10,CO,SO2              69
NH3                      69
PM10,SO2,O3              65
NO2,CO,O3                49
PM10,NO2,PM2.5,O3        43
PM2.5,CO,NO2             40
PM2.5,CO,SO2             36
NO2,SO2                  34
PM10,NO2,SO3             25
PM2.5,SO2,O3             21
SO3,CO,O3                15
PM2.5,NO2,SO2            13
NO2,SO2,CO                9
NO2,O3,SO2                6
PM2.5,NH3                 5
PM10,NH3                  2
PM10,NH3,O3               2
PM10,NH3,CO               1
PM2.5,NH3,O3              1
NH3,CO,O3                 1
O3,NH3                    1
PM2.5,NH3,CO              1
Name: count, dtype: int64

# POPULATION DATA

In [10]:
df_population = pd.read_csv('population_projection.csv')

In [11]:
df_population.head()

   year    month        state  gender  value                unit  note
0  2036  October  West Bengal   Total  43964  value in Thousands   NaN
1  2036  October  West Bengal    Male  22615  value in Thousands   NaN
2  2036  October  West Bengal  Female  21349  value in Thousands   NaN
3  2036  October  Uttarakhand   Total   5506  value in Thousands   NaN
4  2036  October  Uttarakhand    Male   2922  value in Thousands   NaN

In [19]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8892 entries, 0 to 8891
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        8892 non-null   int64
 1   month       8892 non-null   object
 2   state       8892 non-null   object
 3   gender      8892 non-null   object
 4   value       8892 non-null   int64
 5   unit        8892 non-null   object
 6   note        0 non-null      float64
 7   Population  8892 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 555.9+ KB

In [20]:
df_population[(df_population['year'].isin([2024,2025])) & (df_population['gender'] == 'Total')].reset_index()

,index,year,month,state,gender,value,unit,note,Population
0,3762,2025,October,West Bengal,Total,37995,value in Thousands,NaN,37995000
1,3765,2025,October,Uttarakhand,Total,4431,value in Thousands,NaN,4431000
2,3768,2025,October,Uttar Pradesh,Total,59007,value in Thousands,NaN,59007000
3,3771,2025,October,Tripura,Total,1787,value in Thousands,NaN,1787000
4,3774,2025,October,Telangana,Total,19078,value in Thousands,NaN,19078000
...,...,...,...,...,...,...,...,...,...
223,4431,2024,July,Assam,Total,5685,value in Thousands,NaN,5685000
224,4434,2024,July,Arunachal Pradesh,Total,410,value in Thousands,NaN,410000
225,4437,2024,July,Andhra Pradesh,Total,19910,value in Thousands,NaN,19910000
226,4440,2024,July,Andaman and Nicobar Islands,Total,181,value in Thousands,NaN,181000
227,4443,2024,July,All India,Total,498515,value in Thousands,NaN,498515000

In [21]:
df_cleanpop = df_population[(df_population['year'] == 2025) & (df_population['gender'] == 'Total')].copy()
df_cleanpop

,year,month,state,gender,value,unit,note,Population
3762,2025,October,West Bengal,Total,37995,value in Thousands,NaN,37995000
3765,2025,October,Uttarakhand,Total,4431,value in Thousands,NaN,4431000
3768,2025,October,Uttar Pradesh,Total,59007,value in Thousands,NaN,59007000
3771,2025,October,Tripura,Total,1787,value in Thousands,NaN,1787000
3774,2025,October,Telangana,Total,19078,value in Thousands,NaN,19078000
...,...,...,...,...,...,...,...,...
4089,2025,July,Assam,Total,5783,value in Thousands,NaN,5783000
4092,2025,July,Arunachal Pradesh,Total,417,value in Thousands,NaN,417000
4095,2025,July,Andhra Pradesh,Total,20307,value in Thousands,NaN,20307000
4098,2025,July,Andaman and Nicobar Islands,Total,184,value in Thousands,NaN,184000
4101,2025,July,All India,Total,507401,value in Thousands,NaN,507401000

In [22]:
df_cleanpop.drop(columns=['unit','note'],inplace=True)
df_cleanpop

      year    month                        state gender   value  Population
3762  2025  October                  West Bengal  Total   37995    37995000
3765  2025  October                  Uttarakhand  Total    4431     4431000
3768  2025  October                Uttar Pradesh  Total   59007    59007000
3771  2025  October                      Tripura  Total    1787     1787000
3774  2025  October                    Telangana  Total   19078    19078000
...    ...      ...                          ...    ...     ...         ...
4089  2025     July                        Assam  Total    5783     5783000
4092  2025     July            Arunachal Pradesh  Total     417      417000
4095  2025     July               Andhra Pradesh  Total   20307    20307000
4098  2025     July  Andaman and Nicobar Islands  Total     184      184000
4101  2025     July                    All India  Total  507401   507401000

[114 rows x 6 columns]

In [23]:
df_population['Population'] = df_population['value']*1000

In [24]:
df_cleanpop

      year    month                        state gender   value  Population
3762  2025  October                  West Bengal  Total   37995    37995000
3765  2025  October                  Uttarakhand  Total    4431     4431000
3768  2025  October                Uttar Pradesh  Total   59007    59007000
3771  2025  October                      Tripura  Total    1787     1787000
3774  2025  October                    Telangana  Total   19078    19078000
...    ...      ...                          ...    ...     ...         ...
4089  2025     July                        Assam  Total    5783     5783000
4092  2025     July            Arunachal Pradesh  Total     417      417000
4095  2025     July               Andhra Pradesh  Total   20307    20307000
4098  2025     July  Andaman and Nicobar Islands  Total     184      184000
4101  2025     July                    All India  Total  507401   507401000

[114 rows x 6 columns]

In [25]:
df_final_cleanpop = df_cleanpop[['state','Population']]
df_final_cleanpop

                            state  Population
3762                  West Bengal    37995000
3765                  Uttarakhand     4431000
3768                Uttar Pradesh    59007000
3771                      Tripura     1787000
3774                    Telangana    19078000
...                           ...         ...
4089                        Assam     5783000
4092            Arunachal Pradesh      417000
4095               Andhra Pradesh    20307000
4098  Andaman and Nicobar Islands      184000
4101                    All India   507401000

[114 rows x 2 columns]

# HEALTHDATA

In [26]:
df_health = pd.read_csv('idsp.csv',encoding='latin1')

In [27]:
df_health

,year,week,outbreak_starting_date,reporting_date,state,district,disease_illness_name,status,cases,deaths,unit,note
0,2025,16,15-04-2025,15-04-2025,Andhra Pradesh,Kakinada,Acute Diarrheal Disease,Reported,22,0,"cases in absolute number, deaths in absolute n...",NaN
1,2025,16,15-04-2025,17-04-2025,Assam,Biswanath,Chickenpox,Reported,1,1,"cases in absolute number, deaths in absolute n...",NaN
2,2025,16,19-04-2025,20-04-2025,Assam,Dhemaji,Food Poisoning,Reported,16,0,"cases in absolute number, deaths in absolute n...",NaN
3,2025,16,19-04-2025,19-04-2025,Bihar,Gopalganj,Fever with Rash,Reported,5,0,"cases in absolute number, deaths in absolute n...",NaN
4,2025,16,12-04-2025,15-04-2025,Bihar,Madhubani,Acute Diarrheal Disease,Reported,21,0,"cases in absolute number, deaths in absolute n...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6469,2022,13,31-03-2022,01-04-2022,Tamil Nadu,Krishnagiri,Food Poisoning,Reported in Same Week,18,0,"cases in absolute number, deaths in absolute n...",NaN
6470,2022,13,30-03-2022,30-03-2022,Tamil Nadu,Pudukkottai,Dengue,Reported in Same Week,15,0,"cases in absolute number, deaths in absolute n...",NaN
6471,2022,13,28-03-2022,04-04-2022,Tamil Nadu,Tiruchirappalli,Chickenpox,Reported in Same Week,24,0,"cases in absolute number, deaths in absolute n...",NaN
6472,2022,13,04-02-2022,04-03-2022,Telangana,Jagtial,Food Poisoning,Reported in Same Week,25,0,"cases in absolute number, deaths in absolute n...",NaN
6473,2022,13,04-03-2022,04-04-2022,Uttarakhand,Haridwar,Food Poisoning,Reported in Same Week,89,0,"cases in absolute number, deaths in absolute n...",NaN

In [28]:
df_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6474 entries, 0 to 6473
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    6474 non-null   int64
 1   week                    6474 non-null   int64
 2   outbreak_starting_date  6474 non-null   object
 3   reporting_date          5455 non-null   object
 4   state                   6474 non-null   object
 5   district                6473 non-null   object
 6   disease_illness_name    6469 non-null   object
 7   status                  6474 non-null   object
 8   cases                   6474 non-null   int64
 9   deaths                  6474 non-null   int64
 10  unit                    6474 non-null   object
 11  note                    6 non-null      object
dtypes: int64(4), object(8)
memory usage: 607.1+ KB

In [29]:
df_health['outbreak_starting_date'] = pd.to_datetime(df_health['outbreak_starting_date'], format = '%d-%m-%Y')

In [30]:
df_health.drop(columns=['unit','note','status','week','reporting_date'])

,year,outbreak_starting_date,state,district,disease_illness_name,cases,deaths
0,2025,2025-04-15,Andhra Pradesh,Kakinada,Acute Diarrheal Disease,22,0
1,2025,2025-04-15,Assam,Biswanath,Chickenpox,1,1
2,2025,2025-04-19,Assam,Dhemaji,Food Poisoning,16,0
3,2025,2025-04-19,Bihar,Gopalganj,Fever with Rash,5,0
4,2025,2025-04-12,Bihar,Madhubani,Acute Diarrheal Disease,21,0
...,...,...,...,...,...,...,...
6469,2022,2022-03-31,Tamil Nadu,Krishnagiri,Food Poisoning,18,0
6470,2022,2022-03-30,Tamil Nadu,Pudukkottai,Dengue,15,0
6471,2022,2022-03-28,Tamil Nadu,Tiruchirappalli,Chickenpox,24,0
6472,2022,2022-02-04,Telangana,Jagtial,Food Poisoning,25,0
6473,2022,2022-03-04,Uttarakhand,Haridwar,Food Poisoning,89,0

In [31]:
df_health = df_health[['year','outbreak_starting_date','state','district','disease_illness_name','cases','deaths']]

In [32]:
df_health

,year,outbreak_starting_date,state,district,disease_illness_name,cases,deaths
0,2025,2025-04-15,Andhra Pradesh,Kakinada,Acute Diarrheal Disease,22,0
1,2025,2025-04-15,Assam,Biswanath,Chickenpox,1,1
2,2025,2025-04-19,Assam,Dhemaji,Food Poisoning,16,0
3,2025,2025-04-19,Bihar,Gopalganj,Fever with Rash,5,0
4,2025,2025-04-12,Bihar,Madhubani,Acute Diarrheal Disease,21,0
...,...,...,...,...,...,...,...
6469,2022,2022-03-31,Tamil Nadu,Krishnagiri,Food Poisoning,18,0
6470,2022,2022-03-30,Tamil Nadu,Pudukkottai,Dengue,15,0
6471,2022,2022-03-28,Tamil Nadu,Tiruchirappalli,Chickenpox,24,0
6472,2022,2022-02-04,Telangana,Jagtial,Food Poisoning,25,0
6473,2022,2022-03-04,Uttarakhand,Haridwar,Food Poisoning,89,0

# VEHICLE DATA

In [33]:
df_vehicle = pd.read_csv('vahan.csv')

In [34]:
df_vehicle

,year,month,state,rto,vehicle_class,fuel,value,unit,note
0,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,BUS,DIESEL,2,value in Absolute Number,NaN
1,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,DIESEL,23,value in Absolute Number,NaN
2,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,PETROL,1,value in Absolute Number,NaN
3,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,ELECTRIC(BOV),1,value in Absolute Number,NaN
4,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PETROL,387,value in Absolute Number,NaN
...,...,...,...,...,...,...,...,...,...
64836,2022,April,West Bengal,All Vahan Running Office,THREE WHEELER (PASSENGER),PETROL/CNG,3,value in Absolute Number,NaN
64837,2022,April,West Bengal,All Vahan Running Office,THREE WHEELER (PASSENGER),PETROL/LPG,82,value in Absolute Number,NaN
64838,2022,April,West Bengal,All Vahan Running Office,TRACTOR (COMMERCIAL),DIESEL,247,value in Absolute Number,NaN
64839,2022,April,West Bengal,All Vahan Running Office,TRAILER (COMMERCIAL),NOT APPLICABLE,60,value in Absolute Number,NaN
64840,2022,April,West Bengal,All Vahan Running Office,VEHICLE FITTED WITH GENERATOR,DIESEL,1,value in Absolute Number,NaN

In [35]:
df_vehicle['fuel'].value_counts()

fuel
DIESEL                22961
PETROL                12951
ELECTRIC(BOV)          8691
CNG ONLY               4651
PETROL/CNG             3760
PETROL/HYBRID          2959
PURE EV                2251
PETROL/ETHANOL         1820
NOT APPLICABLE         1577
STRONG HYBRID EV        943
DIESEL/HYBRID           868
PETROL/LPG              663
LPG ONLY                492
ETHANOL                 118
LNG                      76
PLUG-IN HYBRID EV        45
FUEL CELL HYDROGEN        8
DUAL DIESEL/LNG           4
DUAL DIESEL/CNG           2
SOLAR                     1
Name: count, dtype: int64

In [36]:
ev_fuel = ['ELECTRIC(BOV)','PURE EV','STRONG HYBRID EV']
df_vehicle['is_ev'] = df_vehicle['fuel'].isin(ev_fuel)

In [37]:
df_vehicle['is_ev'] = df_vehicle['is_ev'].astype(int)

In [38]:
df_vehicle

,year,month,state,rto,vehicle_class,fuel,value,unit,note,is_ev
0,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,BUS,DIESEL,2,value in Absolute Number,NaN,0
1,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,DIESEL,23,value in Absolute Number,NaN,0
2,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,GOODS CARRIER,PETROL,1,value in Absolute Number,NaN,0
3,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,ELECTRIC(BOV),1,value in Absolute Number,NaN,1
4,2025,April,Andaman and Nicobar Islands,All Vahan Running Office,M-CYCLE/SCOOTER,PETROL,387,value in Absolute Number,NaN,0
...,...,...,...,...,...,...,...,...,...,...
64836,2022,April,West Bengal,All Vahan Running Office,THREE WHEELER (PASSENGER),PETROL/CNG,3,value in Absolute Number,NaN,0
64837,2022,April,West Bengal,All Vahan Running Office,THREE WHEELER (PASSENGER),PETROL/LPG,82,value in Absolute Number,NaN,0
64838,2022,April,West Bengal,All Vahan Running Office,TRACTOR (COMMERCIAL),DIESEL,247,value in Absolute Number,NaN,0
64839,2022,April,West Bengal,All Vahan Running Office,TRAILER (COMMERCIAL),NOT APPLICABLE,60,value in Absolute Number,NaN,0
64840,2022,April,West Bengal,All Vahan Running Office,VEHICLE FITTED WITH GENERATOR,DIESEL,1,value in Absolute Number,NaN,0

In [39]:
df_vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64841 entries, 0 to 64840
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           64841 non-null  int64
 1   month          64841 non-null  object
 2   state          64841 non-null  object
 3   rto            64841 non-null  object
 4   vehicle_class  64841 non-null  object
 5   fuel           64841 non-null  object
 6   value          64841 non-null  int64
 7   unit           64841 non-null  object
 8   note           0 non-null      float64
 9   is_ev          64841 non-null  int64
dtypes: float64(1), int64(3), object(6)
memory usage: 4.9+ MB

In [40]:
df_vehicle_agg = df_vehicle.groupby(['state', 'year', 'is_ev'])['value'].sum().unstack(fill_value=0)
df_vehicle_agg.rename(columns={False: 'non_ev_vehicles', True: 'ev_vehicles'}, inplace=True)
df_vehicle_agg['total_vehicles'] = df_vehicle_agg['non_ev_vehicles'] + df_vehicle_agg['ev_vehicles']
df_vehicle_agg['ev_adoption_rate'] = (df_vehicle_agg['ev_vehicles'] / df_vehicle_agg['total_vehicles']) * 100

df_vehicle_agg.reset_index()

is_ev,state,year,non_ev_vehicles,ev_vehicles,total_vehicles,ev_adoption_rate
0,Andaman and Nicobar Islands,2022,5500,21,5521,0.380366
1,Andaman and Nicobar Islands,2023,8045,26,8071,0.322141
2,Andaman and Nicobar Islands,2024,8379,82,8461,0.969153
3,Andaman and Nicobar Islands,2025,2706,36,2742,1.312910
4,Andhra Pradesh,2022,601064,21654,622718,3.477336
...,...,...,...,...,...,...
134,Uttarakhand,2025,79758,5552,85310,6.508030
135,West Bengal,2022,730761,9107,739868,1.230895
136,West Bengal,2023,980890,21455,1002345,2.140481
137,West Bengal,2024,1138392,46562,1184954,3.929435
138,West Bengal,2025,368690,21542,390232,5.520306

In [41]:
df_vehicle_adoption = df_vehicle_agg.reset_index()
df_vehicle_adoption

is_ev,state,year,non_ev_vehicles,ev_vehicles,total_vehicles,ev_adoption_rate
0,Andaman and Nicobar Islands,2022,5500,21,5521,0.380366
1,Andaman and Nicobar Islands,2023,8045,26,8071,0.322141
2,Andaman and Nicobar Islands,2024,8379,82,8461,0.969153
3,Andaman and Nicobar Islands,2025,2706,36,2742,1.312910
4,Andhra Pradesh,2022,601064,21654,622718,3.477336
...,...,...,...,...,...,...
134,Uttarakhand,2025,79758,5552,85310,6.508030
135,West Bengal,2022,730761,9107,739868,1.230895
136,West Bengal,2023,980890,21455,1002345,2.140481
137,West Bengal,2024,1138392,46562,1184954,3.929435
138,West Bengal,2025,368690,21542,390232,5.520306

In [42]:
df_vehicle_adoption.to_csv('vehicle_adoption_df.csv',index=False)

# DATAMODEL

In [43]:
dim_area = df_aqi[['state','area']].drop_duplicates().reset_index()
dim_area['Area_ID'] = dim_area.index+1
dim_area

      index              state       area  Area_ID
0         0        Maharashtra   Amravati        1
1         1              Bihar     Purnia        2
2         2     Madhya Pradesh      Katni        3
3         3       Chhattisgarh    Tumidih        4
4         4              Assam   Byrnihat        5
..      ...                ...        ...      ...
287   97488             Kerala      Kochi      288
288  122315  Jammu and Kashmir   Srinagar      289
289  178540             Kerala  Kozhikode      290
290  189891              Bihar  Darbhanga      291
291  199931             Kerala  Ernakulam      292

[292 rows x 4 columns]

In [44]:
df_final_cleanpop.drop_duplicates()

                            state  Population
3762                  West Bengal    37995000
3765                  Uttarakhand     4431000
3768                Uttar Pradesh    59007000
3771                      Tripura     1787000
3774                    Telangana    19078000
...                           ...         ...
4089                        Assam     5783000
4092            Arunachal Pradesh      417000
4095               Andhra Pradesh    20307000
4098  Andaman and Nicobar Islands      184000
4101                    All India   507401000

[112 rows x 2 columns]

In [45]:
dim_area_final = pd.merge(dim_area,df_final_cleanpop,on='state',how='left')
dim_area_final

      index        state       area  Area_ID  Population
0         0  Maharashtra   Amravati        1    63463000
1         0  Maharashtra   Amravati        1    62979000
2         0  Maharashtra   Amravati        1    63256000
3         1        Bihar     Purnia        2    16415000
4         1        Bihar     Purnia        2    16221000
..      ...          ...        ...      ...         ...
871  189891        Bihar  Darbhanga      291    16221000
872  189891        Bihar  Darbhanga      291    16332000
873  199931       Kerala  Ernakulam      292    29122000
874  199931       Kerala  Ernakulam      292    28642000
875  199931       Kerala  Ernakulam      292    28916000

[876 rows x 5 columns]

In [46]:
dim_area_final.to_csv('dim_area.csv',index = False)

### factaqi

In [47]:
print(df_aqi.columns)
print(dim_area_final.columns)

Index(['date', 'state', 'area', 'number_of_monitoring_stations',
       'prominent_pollutants', 'aqi_value', 'air_quality_status'],
      dtype='object')
Index(['index', 'state', 'area', 'Area_ID', 'Population'], dtype='object')

In [48]:
fact_aqi = pd.merge(dim_area_final[['Area_ID','state','area']],df_aqi,on=('state','area'),how='right')
fact_aqi = fact_aqi[['date', 'Area_ID', 'aqi_value', 'prominent_pollutants', 'air_quality_status']]

In [49]:
fact_aqi

             date  Area_ID  aqi_value prominent_pollutants air_quality_status
0      2025-04-30        1         78                 PM10       Satisfactory
1      2025-04-30        1         78                 PM10       Satisfactory
2      2025-04-30        1         78                 PM10       Satisfactory
3      2025-04-30        2         56                   CO       Satisfactory
4      2025-04-30        2         56                   CO       Satisfactory
...           ...      ...        ...                  ...                ...
707350 2022-04-01      205        128                 PM10           Moderate
707351 2022-04-01      205        128                 PM10           Moderate
707352 2022-04-01      223        270                   O3               Poor
707353 2022-04-01      223        270                   O3               Poor
707354 2022-04-01      223        270                   O3               Poor

[707355 rows x 5 columns]

### dim_disease

In [50]:
dim_disease = df_health['disease_illness_name'].drop_duplicates().reset_index()
dim_disease.drop(columns='index',inplace=True)
dim_disease['Disease_ID'] = dim_disease.index+1

In [51]:
dim_disease

           disease_illness_name  Disease_ID
0       Acute Diarrheal Disease           1
1                    Chickenpox           2
2                Food Poisoning           3
3               Fever with Rash           4
4                       Measles           5
..                          ...         ...
123  Acute Respiratandy Illness         124
124                  Nandovirus         125
125                  Filariasis         126
126                 Influenza A         127
127  Malaria (Plasmodium Vivax)         128

[128 rows x 2 columns]

In [52]:
dim_diseases = pd.DataFrame({'disease_illness_name': df_health['disease_illness_name'].unique()})
dim_diseases['Disease_ID'] = dim_diseases.index+1
dim_diseases.dropna(subset=["disease_illness_name"],inplace=True)

In [53]:
dim_diseases

           disease_illness_name  Disease_ID
0       Acute Diarrheal Disease           1
1                    Chickenpox           2
2                Food Poisoning           3
3               Fever with Rash           4
4                       Measles           5
..                          ...         ...
123  Acute Respiratandy Illness         124
124                  Nandovirus         125
125                  Filariasis         126
126                 Influenza A         127
127  Malaria (Plasmodium Vivax)         128

[127 rows x 2 columns]

In [54]:
dim_diseases.to_csv('cleaned_dim_disease.csv', index=False)

### fact health

In [55]:
fact_health = pd.merge(df_health, dim_disease, on='disease_illness_name', how='left')
# Note: Matching health 'district' to aqi 'area' can be complex. We'll use state for now.
fact_health = pd.merge(fact_health, dim_area_final[['state', 'Area_ID']].drop_duplicates(subset=['state']), on='state', how='left')
fact_health = fact_health[['outbreak_starting_date', 'Area_ID', 'Disease_ID', 'cases', 'deaths']]

In [56]:
fact_health

     outbreak_starting_date  Area_ID  Disease_ID  cases  deaths
0                2025-04-15     17.0           1     22       0
1                2025-04-15      5.0           2      1       1
2                2025-04-19      5.0           3     16       0
3                2025-04-19      2.0           4      5       0
4                2025-04-12      2.0           1     21       0
...                     ...      ...         ...    ...     ...
6469             2022-03-31     14.0           3     18       0
6470             2022-03-30     14.0          17     15       0
6471             2022-03-28     14.0           2     24       0
6472             2022-02-04     96.0           3     25       0
6473             2022-03-04     13.0           3     89       0

[6474 rows x 5 columns]

In [57]:
min_date = fact_aqi['date'].min()
max_date = fact_aqi['date'].max()
dim_date = pd.DataFrame({'Date': pd.date_range(min_date, max_date)})
dim_date['Year'] = dim_date['Date'].dt.year
dim_date['Month'] = dim_date['Date'].dt.month_name()
dim_date['Day'] = dim_date['Date'].dt.day
dim_date['Day_of_Week'] = dim_date['Date'].dt.day_name()
dim_date['Is_Weekend'] = dim_date['Day_of_Week'].isin(['Saturday', 'Sunday'])

In [58]:
dim_date

           Date  Year  Month  Day Day_of_Week  Is_Weekend
0    2022-04-01  2022  April    1      Friday       False
1    2022-04-02  2022  April    2    Saturday        True
2    2022-04-03  2022  April    3      Sunday        True
3    2022-04-04  2022  April    4      Monday       False
4    2022-04-05  2022  April    5     Tuesday       False
...         ...   ...    ...  ...         ...         ...
1121 2025-04-26  2025  April   26    Saturday        True
1122 2025-04-27  2025  April   27      Sunday        True
1123 2025-04-28  2025  April   28      Monday       False
1124 2025-04-29  2025  April   29     Tuesday       False
1125 2025-04-30  2025  April   30   Wednesday       False

[1126 rows x 6 columns]

In [59]:
fact_health

     outbreak_starting_date  Area_ID  Disease_ID  cases  deaths
0                2025-04-15     17.0           1     22       0
1                2025-04-15      5.0           2      1       1
2                2025-04-19      5.0           3     16       0
3                2025-04-19      2.0           4      5       0
4                2025-04-12      2.0           1     21       0
...                     ...      ...         ...    ...     ...
6469             2022-03-31     14.0           3     18       0
6470             2022-03-30     14.0          17     15       0
6471             2022-03-28     14.0           2     24       0
6472             2022-02-04     96.0           3     25       0
6473             2022-03-04     13.0           3     89       0

[6474 rows x 5 columns]

In [60]:
dim_diseases

           disease_illness_name  Disease_ID
0       Acute Diarrheal Disease           1
1                    Chickenpox           2
2                Food Poisoning           3
3               Fever with Rash           4
4                       Measles           5
..                          ...         ...
123  Acute Respiratandy Illness         124
124                  Nandovirus         125
125                  Filariasis         126
126                 Influenza A         127
127  Malaria (Plasmodium Vivax)         128

[127 rows x 2 columns]

In [62]:
fact_health

     outbreak_starting_date  Area_ID  Disease_ID  cases  deaths
0                2025-04-15     17.0           1     22       0
1                2025-04-15      5.0           2      1       1
2                2025-04-19      5.0           3     16       0
3                2025-04-19      2.0           4      5       0
4                2025-04-12      2.0           1     21       0
...                     ...      ...         ...    ...     ...
6469             2022-03-31     14.0           3     18       0
6470             2022-03-30     14.0          17     15       0
6471             2022-03-28     14.0           2     24       0
6472             2022-02-04     96.0           3     25       0
6473             2022-03-04     13.0           3     89       0

[6474 rows x 5 columns]